<!doctype html>

<head>Simulator</head>

<body>
<title>Simulator</title>
<form action="/index" method="POST">
    <dl>
      <dt>Set interval (seconds):
      <dd><input type=number step=0.001 min=0.001 name=interval>
      <dd><input type=submit value=Submit>
      <dt>Set binning: <br>
      <input type=radio name=binning value='1x1'> 1x1<br>
      <input type=radio name=binning value='2x2'> 2x2<br>
      <input type=radio name=binning value='3x3'> 3x3<br>
      <input type=radio name=binning value='4x4'> 4x4
    </dl>
</form>
</body>
